/*
    This section was adatped from: https://raw.githubusercontent.com/pawelos076232/DarkSearch/master/DarkSearch.css 
*/

/*dropdown background*/
.gV6pJf, #gbsfw.gb_Ic {
    background: #212121 !important;
    border-color: #212121;
}

/*notification background*/
.CxSKqd.PNdSh, .CxSKqd.Wj1LYb, .CxSKqd {
    background: #151515;
}

/*icons*/
.iWO9fc .mUbCce svg, .yxaWLe svg, .ajgU6 {
    fill: rgba(255, 255, 255, .54);
}

/*icons:hover*/
.iWO9fc .mUbCce:hover svg, .yxaWLe:hover svg {
    fill: rgba(255, 255, 255, .87);
}

/*logo Google*/
.XSVuue {
    fill: rgba(255, 255, 255, .26);
}

/*text*/
.v7k2xf, .v7k2xf, .gMG7Fd, .wh73ab {
    color: rgba(255, 255, 255, .87);
}

/*subtext*/
.OlDqke, .Vz68Kb {
    color: rgba(255, 255, 255, .54);
}

/*footer-bar*/
.fEjTrb, .jvWPmb.qs41qe .fEjTrb {
    background-color: #1d1d1d;
}

/*opened notification header bg*/
.xMujpb {
    background-color: #1d1d1d;
}

/*opened notification bg*/
.E4TZmd, .RIrM6d {
    background: #101010;
}

.utcmad {
    color: #c5c5c5;
}

body, .m3JvWd, .g6UaYd, .vGowKb {
    color: rgba(255, 255, 255, .87);
}

.LCX1Id, .XGOYJd>:first-child, .ZYK0Xb {
    border-top-color: #252525;
}

/*circle icon bg*/
.GsLz7c, .sH8mib {
    background: #212121;
}
