// general
$bg-darker: #000;
$bg: #101010;
$bg-lighter: #212121;
$bg-button: #222;
$c-accent: #333;
$c-accent-lighter: #424242;
$c-icon-white: #fff;
$c-icon-darker: #989898;
$c-text-darker2: #777;
$c-text-darker: #989898;
$c-text: #bbb;
$c-text-lighter: #fff;
