// general
$bg-darker: #000000;
$bg: #101010;
$bg-lighter: #212121;
$bg-button: #222;
$c-accent: #333333;
$c-accent-lighter: #424242;
$c-icon-white: #FFFFFF;
$c-icon-darker: #989898;
$c-text-darker2:#777777;
$c-text-darker: #989898;
$c-text: #BBBBBB;
$c-text-lighter: #FFFFFF;
